* {
    margin: 0;
    padding: 0;
}

.menu {
    background: #444444;
    width: 380px;
    height: 956px;
    position: absolute;
    left: -380px;
    top: 0px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.menu__active {
    left: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.side {
    background: #eef1f4;
    border-radius: 0 8px 8px 0;
    width: 25px;
    height: 75px;
    position: absolute;
    left: 380px;
    top: 80px;
    cursor: pointer;
}

.side:hover .chevron__right {
    opacity: 0.5;
}

.side:hover .x__close {
    opacity: 0.5;
}

.icon__menu {
    position: absolute;
    right: 1px;
    top: calc(50% - 11.5px);
    overflow: visible;
}

.chevron__right {
    display: block;
}

.chevron__right__none {
    display: none;
}

.x__close {
    display: none;
}

.x__close__active {
    display: block;
}

.menu__content {
    display: flex;
}

.tab {
    position: fixed;
}

.icon__tab {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 11.5px);
    color: white;
}

.tab button {
    float: left;
    display: inline-block;
    border: none;
    outline: none;
    transition: 0.3s;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    width: 190px;
    height: 68px;
    cursor: pointer;
}

.tab button:hover {
    background-color: rgba(255, 255, 255, 0.67);
}

.tab button.active {
    background-color: rgba(255, 255, 255, 0.82);;
}

.tab__content {
    display: none;
    position: relative;
    left: 0;
    top: 68px;
}

.employees__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    height: 888px;
    background-color: rgba(255, 255, 255, 0.82);
}


.tasks__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    height: 888px;
    background-color: rgba(255, 255, 255, 0.82);
}

.create__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 68px;
    bottom: 0;
}


.create__btn button {
    width: 380px;
    height: 68px;
    border: none;
    outline: none;
    transition: 0.3s;
    position: relative;
    background-color: rgb(28, 33, 40);
    cursor: pointer;
    color: white;
}

.create__btn button:hover {
    opacity: 0.9;
}

.create__employee {
    justify-content: space-between;
    width: 380px;
    height: 888px;
    bottom: 0;
}


.create__employee h2 {
    margin:40px 0px 10px 20px;
}

.create__employee input {
    float: bottom;
    width: 350px;
    height: 60px;
    border-radius: 15px;
    margin:0px 15px 0px 15px;
    font-size: 30px;
    text-align: center;
}