
.tree-node {
    display: flex;
    justify-content: center;
}

h3 {
    /*text-align: center;*/
    font: var(--h-2, 700 32px/36px 'Inter', sans-serif);
}

.task__content {
    width: 500px;
    border: #1c2128 3px solid;
    border-radius: 25px;
    margin: 15px 15px 15px 15px;
    list-style: none;
    text-align: center;
    justify-content: center;
    white-space: pre-wrap;
    align-items: center;
    display: flex;
}

.line {
    width: 2px;
    height: 0;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top;
    transform: translate(-50%, -50%);
}

li {
    display: flex;
    align-items: center;
}
